@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  background-color: #1a0d0c;
}
::-webkit-scrollbar {
  display: none;
}

.header {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 75px;
  color: #e9e3e6;
}
.subHeader {
  font-family: "Inter", sans-serif;
  font-weight: "600";
  text-align: center;
  font-size: 50px;
  color: #e9e3e6;
}

.songContainer {
  background-color: #00cc9c;
  width: 35%;
  height: 150px;
  text-align: center;
  margin: 0 auto;
  /*margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 1%;*/
  border-radius: 25px;
  background-image: "";
  /*float: left;
  display: inline;*/
}

.songTitle {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: "1px";
  position: relative;
  top: 1%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.songArtist {
  font-family: "Inter", sans-serif;
  font-weight: "600";
  position: relative;
  bottom: 10%;
}
.playCount {
  font-family: "Inter", sans-serif;
  font-weight: "600";
  position: relative;
  bottom: 20%;
  font-size: 10px;
}

.index {
  font-family: "Inter", sans-serif;
  font-weight: "600";
  position: relative;
  top: 5%;
}

.usernameUpdateBox {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.usernameBox {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 25px;
  margin: 5px;
}
.timeBox {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 25px;
  margin: 5px;
  width: 50px;
}

.updateButton {
  border-radius: 25px;
  background-color: #e75a7c;
  padding: 10px;
  margin: 5px;
}
